#status {
    height: 30px;
}

#title {
    width: 80%;
}

#categoryInput {
    display: inline;
}

label {
    font-weight: bold;
}

.blogtext {
    font-size: 14pt;
}

.headerLeft {
    margin-top: 10px;
}

.title {
    margin-top: 20px;
}
