body {
    font-size: 14pt;
}

article {
    padding-top: 20px;
}

input {
    width: 100%;
}

input#category {
    width: unset;
}

textarea {
    width: 100%;
}

label {
    font-weight: bold;
}

.grid-item {
    width: 100%;
    margin: 10px 0px;
    border-top: 1px solid black;
}

.content {
    max-height: unset;
}

.content.minimized {
    max-height: 400px;
    overflow: hidden;
}

.content.minimized:after {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
        rgba(255,255,255, 1) 8%,
        rgba(255,255,255, 0) 30%
    );
    pointer-events: none; /* so article content is still accessible */
}

.show-more {
    width: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    cursor: pointer;
    margin-top: -20px;
}

.show-more.enabled {
    display: flex;
}

.header-left {
    margin-top: 10px;
}

.filter-button {
    cursor: pointer;
}

.category-selection {
    padding: 4px;
}

.selected-category {
    margin: 2px;
    padding: 2px 6px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: lightblue;
}

.dialog {
    display: none;
}

#status {
    height: 30px;
}
