#status {
    height: 30px;
}

#title {
    width: 80%;
}

#categoryInput {
    display: inline;
}

textarea#blogtext {
    width: 100%;
    height: 200px;
}

label {
    font-weight: bold;
}

.blogtext {
    font-size: 14pt;
}

.headerLeft {
    margin-top: 10px;
}

.title {
    margin-top: 20px;
}

.filter-button {
    cursor: pointer;
}

.category-selection {
    padding: 4px;
}

.selected-category {
    margin: 2px;
    padding: 2px 6px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: lightblue;
}

.dialog {
    display: none;
}
